{% extends "base.html" %}

{% block title %}Nuevo Torneo{% endblock %}

{% block content %}

<h2>Crear Torneo</h2>

<form method="POST">

    <label>Nombre:</label><br>
    <input type="text" name="nombre" required><br><br>

    <label>Fecha:</label><br>
    <input type="date" name="fecha" required><br><br>

    <label>Lugar:</label><br>
    <input type="text" name="lugar" required><br><br>

    <label>Creador:</label>
    {% if usuarios|length == 0 %}
        <p>No hay usuarios. <a href="{{ url_for('crear_usuario') }}">Crea uno aquí</a></p>
    {% else %}
        <select name="creador_id" required>
            {% for user in usuarios %}
                <option value="{{ user.id }}">{{ user.nombre }}</option>
            {% endfor %}
        </select>
        <small><a href="{{ url_for('crear_usuario') }}">➕ Crear nuevo usuario</a></small>
    {% endif %}
    <br><br>

    <button type="submit" class="btn">Guardar</button>

</form>

{% endblock %}
